@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/RobotoFlex/RobotoFlex-Regular.ttf);
}

@font-face {
    font-family: "Aventa-Bold";
    src: url(../font/Aventa/Aventa-Bold.ttf);
}



body {
    margin: 0;
    color: #666666;
    font-family: "Roboto-Regular";
    position: relative;

}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111;
    font-weight: 700;
}

/* total width */
::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
    display: none;
}

a {
    transition: all 0.5s ease;
    text-decoration: none;
    color: #2e2e2e;
}

a:hover,
a:focus,
a:active {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

p {
    line-height: 1.63;
    font-size: 16px !important;
}
/* Benner Section  */

.benner-section{
    
    background-image: url("../img/finder-bd.png"); 
    background-repeat: no-repeat;
    background-size: contain;
} 
.benner-section .text-box .color-green{
    color: #c5ed30;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 27px !important;
  
}
.benner-section .text-box h1{
    color: #ffff;
    padding-top: 10px;
    font-size: 20px;
}
.benner-section  .btn-app img {
    height: 25px;
}
.benner-section .text-box p{
    padding-top: 5px;
    color: #ffff;
}
.btn-area{
    margin-top: 40px;
}
.btn-app{
    border: 0;
    width: 200px;
    height: 60px;
    padding: 0;
    margin: 0;
}
.btn-app img{
    width: 100%;
    height: 100% !important;
    padding: 0;
    object-fit: cover;
    background-color: transparent;

}  
/* Benner Section  End  */

/* Finder  Section  */



.finder-sec{
    margin-top: 100px;
    position: relative;
   }
.finder-sec .finder-text p{
       padding-top: 30px;
       font-size: 18px;
   
   }
.finder-sec .finder-col .connetion-img {
       background-image: url("../img/shape.png");
       background-repeat: no-repeat;
       background-size: contain;
       height: 120px;
       
     
}
.finder-sec .finder-col .connetion-img .icon-1 {
      padding: 32px 31px;
   }
.finder-sec .finder-text h1{
    color: #111111;
    font-weight: 600;
}
.finder-sec .finder-text h1 span{
    color: #c5ed30;
    font-weight: 600;
}
.finder-sec  .finders-cols{
    padding-top: 50px;
}

.finder-sec .finder-col p {
    padding-top: 24px;
    color: #1d353f;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.finder-sec .circle-img{
    position: absolute;
    left: 10px;
    top: 0;
}
.finder-sec  .finder-col{
    border: 1px solid rgba(102, 102, 102, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}
.finder-sec  .finder-col {
    border: 1px solid rgba(102, 102, 102, 0.3);
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
  }
  .finder-sec  .finder-col:hover {
    box-shadow: 0 0 10px 0 #aed01d inset, 0 0 20px 2px #aed01d;
    border: 3px solid #aed01d;
    transform: scale(0.9);
  }
/*   Finder  Section End   */

/* Feature   Section  */

.feature-sec{
    background-image: url("../img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 180px;
    position: relative;
    padding-bottom: 220px;
} 
.feature-sec .feature-img {
    position: absolute;
    top: -60px;
}

.feature-sec .feature-text-box .color-021b26{

    font-size: 30px !important;
    font-weight: 400;

}
.feature-sec .feature-text-box  .simply{

    padding-bottom: 50px;
}
.feature-sec .feature-text-box{
    padding-top: 90px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.3);
}
.feature-sec .feature-connetion{
    padding-top: 30px;
} 

.connect-collet-tex .connet-text p{
    padding-top: 10px;
}
.feature-sec .feature-connetion .connet-text p{
    padding-top: 10px;
}

/* Feature   Section End  */


/* Feature About Section  */
.feture-about-sec{
    padding-top: 150px;
    
}

.feature-first-text {
    border-radius: 10px;
    display: block;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16.02px 1.98px rgba(0, 0, 0, 0.26);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background: linear-gradient(to right,  rgb(29, 53, 63)50%, rgb(255, 255, 255) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .9s ease-out;
  }
  .feature-first-text:hover {
    background-position: left bottom;
    color: #fff;
   
  }
  
.feture-about-sec .feature-about-text {
    border-radius: 10px;
    display: block;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 16.02px 1.98px rgba(0, 0, 0, 0.26);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    background: linear-gradient(to right, rgb(29, 53, 63)50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .9s ease-out;
  }
  
  .feture-about-sec .feature-about-text:hover {
    background-position: left bottom;
    color: #fff;
   
  }
  
.feature-center-text {
    border-radius: 10px;
    background-color: rgb(29, 53, 63);
    box-shadow: 0px 0px 16.02px 1.98px rgba(0, 0, 0, 0.26);
    height: 250px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, white 50%, rgb(29, 53, 63) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .9s ease-out;
    color: #fff;
  }
  
  .feature-center-text:hover {
    background-position: left bottom;
    color: #666666;
  }
  

  
/* Feature About Section  End */

/* Collect section  */
.collect-sec{
    background-image: url("../img/bg3.png");
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 100px;
}
.collect-sec .connet-row{
    padding: 100px 0;
}
.collect-sec .connet-row .connetin-text p{
    padding-top: 20px;
}
.collect-sec .connet-row .connetin-text p span{
    color: #1d353f ;
    font-weight: 600;
}
/* Collect section End  */

/* Collection section  */
.collection-sec{
    padding-top: 100px ;
}
.collection-sec .connetin-text p{
    padding-top: 30px;
}
/* Collection section End  */


/* Footer Section  */

footer{
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-size: cover;  
    color: #fff;
}
footer a{
    color: #fff;
}
footer .footer-row{
 padding-top: 100px;
 padding-bottom: 100px;
}
footer .first-ul>a{
    color: #aed01d !important;
}
footer .first-ul{
    color: #aed01d !important;
}
footer .ul-line-height{
    line-height: 50px;
} 
footer .news-text p{
    margin-top: 13px;
    
}
footer  .email-type{
    margin-top: 18px;
    height: 48px;
    border-radius: 3px;
    border: 0;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 20px;
}
footer .subscribe-btn{
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #aed01d;
    border: 0;
    height: 48px;
    position: absolute;
    top: 112px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer .news-text{
    position: relative;
}
footer .footer-text ul {
  
    position: absolute;
  
  }
  
  footer .footer-text ul li {
    list-style: none;
  }
  
  footer .footer-text ul li a {
    width: 50px;
    height: 58px;
    background-color: #fff;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  footer .footer-text ul li:first-child a{
    margin : 0 10px 0 0 ;
  }
  
  footer .footer-text ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  footer .footer-text ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  
  footer .footer-text ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  footer .footer-text ul li a:hover:before {
     top: 0;
  }
  
  footer .footer-text ul li:nth-child(1) a:before{
    background: #1877f2;
  }
  
  footer .footer-text  ul li:nth-child(2) a:before{
    background: #1DA1F2;
  }
  
  footer .footer-text  ul li:nth-child(3) a:before {
    background: #0073b1;
  }
  
  footer .footer-text  ul li:nth-child(4) a:before {
    background: rgb(230, 0, 35);
  }
  .footer-text{
    position: relative;
  }
/* Footer Section End  */


 footer a {
    display: inline-block;
    
    text-decoration: none;
}

footer a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #aed01d;
    transition: width .3s;
}
footer a:hover{
    color: #aed01d !important;
}
footer a:hover::after {
   
    width: 100%;
    transition: width .3s;
}

.ul-effects::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #aed01d;
    transition: width .3s;
}
.ul-effects:hover::after {
    width: 20%;
}


/* update screen  */
.finder-deatil-text{
    margin-top: 10px;
    line-height: 40px;
}

ol {
    font-size: 20px;
    list-style: disc;
    color: #aed01d;
  
    
}
ol span{
    font-size: 16px ;
    color: #000;
}
.feature-text-box {
    margin-bottom: 20px;
}

/* update screen end  */